<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImageServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.GetImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.DeletaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUser</servlet-name>
        <servlet-class>deamor.data.dao.Web.AdminUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageUserServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.imageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCartServlet</servlet-name>
        <servlet-class>deamor.data.dao.Web.addCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HienThiGioHang</servlet-name>
        <servlet-class>deamor.data.dao.Web.HienThiGioHang</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImageServlet</servlet-name>
        <url-pattern>/getImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaServlet</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUser</servlet-name>
        <url-pattern>/aduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageUserServlet</servlet-name>
        <url-pattern>/imageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCartServlet</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HienThiGioHang</servlet-name>
        <url-pattern>/hienthigiohang</url-pattern>
    </servlet-mapping>
</web-app>
